@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


@media screen and(max-width:992px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media screen and(max-width:768x) {}

@media screen and(max-width:576px) {}

@media screen and(max-width:350px) {}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: 'Poppins', sans-serif;
  font-size: 0.938rem;
}

body {
  background: radial-gradient(rgb(255,255,255),rgb(255,165,0)) ;
  color: var(#333);
}

h1,
h2,
h3 {
  color: var( #000000);
  font-weight: 600;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

.section {
  padding: 6rem 0 2rem;
}

.section_title {
  font-size:2.25rem;
  color:#333;
}

.section_subtitle {
  display: block;
  font-size: 0.875rem;
  margin-bottom: 4rem;
}

.section_title,
.section_subtitle {
  text-align: center;
}

.container {
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.button {
  display: inline-block;
  background-color: #333;
  color: #C0C0C0;
  padding: 1.25rem 2rem;
  border-radius: 1rem;
  font-weight: 500;
}

.button:hover {
  background-color: #222;
}

.button__icon {
  margin-left: 0.5rem;
}

.button--flex {
  display: inline-flex;
  align-items: center;
}


@media screen and (max-width:992px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media screen and (max-width:768px) {

}

@media screen and (max-width:576px) {

}

@media screen and (max-width:350px) {
  .container {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}



